<section class="w-full">
  <%= render 'shared/nav', header: "Sign Up" %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Name", class: "input" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "input" %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (#{@minimum_password_length} characters minimum)", class: "input" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Your Password", class: "input" %>
    <%= f.submit "Sign up", class: "btn-main mt-4" %>
  <% end %>
</section>
