<%= form_with model: model, url: path do |form| %>
  <% if model.errors.any? %>
    <div class="bg-red-300">
      <h3><%= pluralize(model.errors.count, "error") %> occured:</h3>
      <ul>
        <% model.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_field :name, placeholder: 'Name', required: true, autofocus: true, class: "input" %>
  <% if model.is_a?(Purchase) %>
    <%= form.number_field :amount, placeholder: '0', required: true, class: "input" %>
  <% elsif model.is_a?(Category) %>
    <%= form.text_field :icon, placeholder: 'Icon', required: true, class: "input" %>
  <% end %>
  <%= form.submit 'Save', class: "btn-green mt-2", data: { disable_with: t('loading') } %>
<% end %>
