<%= render 'shared/nav', header: "Categories" %>
<% @categories.each do |category| %>
  <div class= "bg-red-300 mb-2">
    <%= link_to category_path(category.id), class: "flex justify-around" do %>
      <%= image_tag(category.icon, :alt => "Category Icon") %>
      <%= category.name %>
      <%= @totals["#{category.id}"] %>
    <% end %>
  </div>
<% end %>
