<!DOCTYPE html>
<html>
  <head>
    <title>TransactionsOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <section class="flex justify-center h-screen">
      <div class="flex border-2 border-gray-200 bg-bg w-96">
        <div class="w-96">
          <% if notice %>
            <p class="notice bg-green-300 text-center py-2"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert bg-red-300 text-center py-2"><%= alert %></p>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </section>
  </body>
</html>
